typer==0.15.1
fastapi==0.115.6
uvicorn==0.34.0
numpy==2.2.1
pandas==2.2.3
matplotlib==3.9.2
seaborn==0.13.2
torch==2.4.1
torchvision==0.19.1
scikit-learn==1.5.2
tqdm==4.66.5
Pillow==10.4.0
timm==1.0.13
loguru==0.7.3
prometheus-client==0.21.1